.col-sm-12
  .panel.panel-info
    div(data-ng-show='slpc.badge',
    data-ng-class="slpc.type").badge.badge-object
      span.glyphicon.glyphicon-tag {{slpc.badgeText}}
    .panel-heading
      h3 {{'GENERAL_ELEM_OBJ' | translate}}
        | {{slpc.objNumber}}

    .panel.panel-body
      .col-sm-5
        a(href='{{slpc.img.href}}',
        data-lightbox='{{slpc.img.dataLightbox}}',
        data-title='{{slpc.img.dataTitle}}')
          img(data-ng-src='{{slpc.img.src}}').thumbnail.img-main

      .col-sm-7
        .col-sm-12
          form.form-horizontal
            div(data-ng-repeat='elem in slpc.content[0]').form-group.form-group-lg.main-panel
              label.col-sm-3.control-label {{elem.label}}
              .col-sm-9
                p.form-control-static.form-control-static-text {{elem.text}}

      .col-sm-12
        .col-sm-12
          form.form-horizontal
            div(data-ng-repeat='elem in slpc.content[1]').form-group.form-group-lg.main-panel
              label.col-sm-2.control-label {{elem.label}}
              .col-sm-10
                p.form-control-static.form-control-static-text {{elem.text}}

      .col-sm-12
        h2.text-center Фотогалерея
        ul.col-sm-10.col-sm-offset-1.list-inline.text-center#gallery-30593
          li(data-ng-repeat='elem in slpc.gallery')
            a(href='{{elem.href}}',
            data-lightbox='{{elem.dataLightbox}}',
            data-title='{{elem.dataTitle}}')
              img(data-ng-src='{{elem.src}}').thumbnail.img-gallery

        a(data-ng-show="slpc.youtubeshow", href='{{slpc.youtube}}', target="_blank", translate='SALE_PAGE_BUTTON_YOUTUBE').col-xs-12.btn.btn-info.btn-lg.btn-margin.center-block

        button(data-ng-click='slpc.showBookObject()' translate='SALE_PAGE_BUTTON_BOOK_OBJECT').col-xs-12.btn.btn-danger.btn-lg.btn-margin.center-block

toaster-container(data-toaster-options="{'toaster-id': {{slpc.objNumber}}}")