#exclusive
  div(data-ng-controller='HomeExclusiveCtrl as homeExclCtrl',
  data-ng-show="homeExclCtrl.showExclusive").row#exclusiveCallout
    .cal-12
      .well
        .page-header.page-primary
          h1 {{homeExclCtrl.homeExclusive.home_exclusive_title}}
        .page-body#block-exclusive
          .row
            .col-sm-12
              h1.text-center {{homeExclCtrl.homeExclusive.home_exclusive_body_h1}}
              h2.text-center {{homeExclCtrl.homeExclusive.home_exclusive_body_h2}}
          .row
            .col-sm-12
              .row
                div(data-ng-repeat='group in homeExclCtrl.panelGroups').row
                  .col-sm-4(data-ng-repeat='panel in group')
                    small-panel-exclusive(badge='panel.badge',
                    type='panel.type',
                    badgetext='panel.badgetext',
                    obj-number='panel.objNumber',
                    deal='panel.deal',
                    img='panel.img',
                    content='panel.content')
              hr
              a(data-ui-sref='exclusive').col-xs-12.btn.btn-danger.btn-lg.btn-margin.center-block.link-and-scroll {{homeExclCtrl.homeExclusive.home_exclusive_body_more}}

