#exclusive
  .row#exclusiveCallout
    .cal-12
      .well
        .page-header.page-primary
          h1 {{'EXCLUSIVE_PAGE_HEADER_TITLE' | translate}}
            small(translate='EXCLUSIVE_PAGE_HEADER_SUBTITLE')
        .page-body#block-exclusive
          .row
            .col-sm-12
              h1(translate='EXCLUSIVE_PAGE_BODY_H1').text-center
              h2(translate='EXCLUSIVE_PAGE_BODY_H2').text-center
          .row
            .col-sm-12
              div(data-ng-controller='HomeExclusiveCtrl as homeExclCtrl').row
                div(data-ng-repeat='group in homeExclCtrl.panelGroups').row
                  .col-sm-4(data-ng-repeat='panel in group')
                    small-panel-exclusive(badge='panel.badge',
                    type='panel.type',
                    badgetext='panel.badgetext',
                    obj-number='panel.objNumber',
                    deal='panel.deal',
                    img='panel.img',
                    content='panel.content')
              hr
              a(data-ui-sref='exclusive', translate='EXCLUSIVE_PAGE_MORE_OBJ').col-xs-12.btn.btn-info.btn-lg.btn-margin.center-block.link-and-scroll

