#longterm
  div(data-ng-controller='HomeLongCtrl as homeLongCtrl',
  data-ng-show="homeLongCtrl.showLong").row#longtermCallout
    .cal-12
      .well
        .page-header.page-primary
          h1 {{homeLongCtrl.homeLong.home_long_title}}
        .page-body#block-exclusive
          .row
            .col-sm-12
              .row
                div(data-ng-repeat='group in homeLongCtrl.panelGroups').row
                  .col-sm-4(data-ng-repeat='panel in group')
                    small-panel-long(badge='panel.badge',
                    type='panel.type',
                    badgetext='panel.badgetext',
                    obj-number='panel.objNumber',
                    img='panel.img',
                    content='panel.content')
              hr
              a(data-ui-sref='longterm').col-xs-12.btn.btn-danger.btn-lg.btn-margin.center-block.link-and-scroll {{homeLongCtrl.homeLong.home_long_body_more}}

