#shortterm
  div(data-ng-controller='HomeShortCtrl as homeShortCtrl',
  data-ng-show="homeShortCtrl.showShort").row#shorttermCallout
    .cal-12
      .well
        .page-header.page-primary
          h1 {{'SHORTTERM_PAGE_HEADER_TITLE' | translate}}
            small(translate='SHORTTERM_PAGE_HEADER_SUBTITLE')
        .page-body#block-exclusive
          .row
            .col-sm-12
              .row
                div(data-ng-repeat='group in homeShortCtrl.panelGroups').row
                  .col-sm-4(data-ng-repeat='panel in group')
                    small-panel-short(badge='panel.badge',
                    type='panel.type',
                    badgetext='panel.badgetext',
                    obj-number='panel.objNumber',
                    img='panel.img',
                    content='panel.content')
              hr
              a(data-ui-sref='shortterm', translate='SHORTTERM_PAGE_MORE_OBJ').col-xs-12.btn.btn-info.btn-lg.btn-margin.center-block.link-and-scroll
