.panel.panel-info
  .badge.badge-object
    span(ng-show='excl.panels[0].hit').glyphicon.glyphicon-tag Хит продаж
  .panel-heading
    h3 Объект № 30595
    h4 {{excl.testing}}

  .panel.panel-body.panel-main-exclusive
    .col-sm-12
      a(href="../../images/30593_700x500.jpg", data-lightbox="30593_300x200", data-title="Комментарий к фото")
        img(src="../../images/30593_700x500.jpg").thumbnail.img-main

    .col-sm-12
      button.btn.btn-success.btn-sm.btn-margin.center-block Подробнее...


      -
        var exclusive_object_1 = [
        { label: 'Адрес:',
        text: 'Lorem ipsum dolor sit amet.'},
        { label: 'Тип объекта:',
        text: 'Lorem ipsum'},
        { label: 'Кол. комнат:',
        text: '3'},
        { label: 'Тип сделки:',
        text: 'Lorem ipsum dolor sit amet.'},
        { label: 'Стоимость:',
        text: 'Lorem ipsum dolor'}
        ]
      each elem in exclusive_object_1
        //.form-group.clearfix
          label.col-sm-7.control-label.text-right #{elem.label}
          .col-sm-5.clearfix #{elem.text}
        //div
          b #{elem.label}
          | &nbsp;#{elem.text}

        form.form-horizontal
          .form-group.form-group-sm.main-panel
            label.col-sm-4.control-label #{elem.label}
            .col-sm-8
              p.form-control-static.form-control-static-text #{elem.text}