form.form-horisontal
  .form-group.clearfix
    label(for='dealType', translate='LBL_DEAL').col-sm-4.control-label.text-right
    .col-sm-8
      select(name='dealType',
      data-ng-options='option.val for option in $ctrl.dealList track by option.key',
      data-ng-model='$ctrl.formData.deal').form-control#dealType


  .form-group.clearfix
    label(for='objectType', translate='LBL_OBJ').col-sm-4.control-label.text-right
    .col-sm-8
      select(name='objectType',
      data-ng-options='option.val for option in $ctrl.objList track by option.key',
      data-ng-model='$ctrl.formData.obj').form-control#objectType

  .form-group.clearfix
    label(for='city', translate='LBL_CITY').col-sm-4.control-label.text-right
    .col-sm-8
      select(name='city',
      data-ng-options='option.val for option in $ctrl.cityList track by option.key',
      data-ng-model='$ctrl.formData.city').form-control#city

  .form-group.clearfix
    label(for='rooms', translate='LBL_ROOM').col-sm-4.control-label.text-right
    .col-sm-8
      select(name='rooms',
      data-ng-options='option.val for option in $ctrl.roomList track by option.key',
      data-ng-model='$ctrl.formData.room').form-control#rooms

  .form-group.clearfix
    label(for='objectNumber', translate='LBL_OBJ_NUM').col-sm-4.control-label.text-right
    .col-sm-8
      input(type="text",
      placeholder="{{'OBJ_NUM_PLACEHOLDER' | translate}}",
      data-ng-model='$ctrl.formData.objNum').form-control#objectNumber

  .form-group.clearfix
    .col-lg-7.col-lg-offset-5.col-md-offset-3.col-sm-offset-1
      button(translate='BTN_FIND', data-ng-click='$ctrl.find()').btn.btn-success.btn-lg.btn-margin
      button(translate='BTN_CLR', data-ng-click='$ctrl.clear()').btn.btn-warning.btn-lg.btn-margin