form(novalidate='novalidate',
data-ng-submit='$ctrl.find()').form-horisontal
  div $rootScope.short.busy: {{$ctrl.shortBusy}}
  div $ctrl.filterDisabled: {{$ctrl.filterDisabled}}

  fieldset(data-ng-attr-disabled='{{$ctrl.filterDisabled || undefined}}')

    .form-group.clearfix
      label(for='objectType', translate='LBL_OBJ').col-sm-4.control-label.text-right
      .col-sm-8
        select(name='objectType',
        data-ng-options='option.val for option in $ctrl.objList track by option.key',
        data-ng-model='$ctrl.formData.obj').form-control#objectType

    .form-group.clearfix
      label(for='city', translate='LBL_CITY').col-sm-4.control-label.text-right
      .col-sm-8
        select(name='city',
        data-ng-options='option.val for option in $ctrl.cityList track by option.key',
        data-ng-model='$ctrl.formData.city').form-control#city

    .form-group.clearfix
      label(for='rooms', translate='LBL_ROOM').col-sm-4.control-label.text-right
      .col-sm-8
        select(name='rooms',
        data-ng-options='option.val for option in $ctrl.roomList track by option.key',
        data-ng-model='$ctrl.formData.room').form-control#rooms

    .form-group.clearfix
      label(for='objectNumber', translate='LBL_OBJ_NUM').col-sm-4.control-label.text-right
      .col-sm-8
        input(type="text",
        data-ng-pattern='/^[A-Za-z0-9_]{1,15}$/',
        data-ng-minLength='5',
        data-ng-minLength-err-type='tooShort',
        data-ng-required-err-type="{{'AV_REQ' | translate}}",
        placeholder="{{'OBJ_NUM_PLACEHOLDER' | translate}}",
        data-ng-model='$ctrl.formData.objnumber').form-control#objectNumber

    .form-group.clearfix
      .col-lg-7.col-lg-offset-5.col-md-offset-3.col-sm-offset-1
        button(type='submit',
        translate='BTN_FIND').btn.btn-success.btn-lg.btn-margin
        button(data-ng-click='$ctrl.clear()',
        translate='BTN_CLR').btn.btn-warning.btn-lg.btn-margin
