.col-sm-12
  .panel.panel-info
    div(data-ng-show='spc.badge',
    data-ng-class="spc.type").badge.badge-object
      span.glyphicon.glyphicon-tag {{spc.badgeText}}
    .panel-heading
      h3 {{'GENERAL_ELEM_OBJ' | translate}}
        | {{spc.objNumber}}

    .panel.panel-body
      .col-sm-5
        a(href='{{spc.img.href}}',
        data-lightbox='{{spc.img.dataLightbox}}',
        data-title='{{spc.img.dataTitle}}')
          img(data-ng-src='{{spc.img.src}}').thumbnail.img-main

        .col-lg-12.col-lg-offset-0.col-md-offset-0.col-sm-offset-0
          button(translate='SHORTTERM_PAGE_BUTTON_PRICE',
          data-ng-click='spc.showPrice()').btn.btn-success.btn-lg.btn-margin
          button(translate='SHORTTERM_PAGE_BUTTON_CALENDAR',
          data-ng-click='spc.showCalendar()').btn.btn-warning.btn-lg.btn-margin

      .col-sm-7
        .col-sm-12
          form.form-horizontal
            div(data-ng-repeat='elem in spc.content[0]').form-group.form-group-lg.main-panel
              label.col-sm-3.control-label {{elem.label}}
              .col-sm-9
                p.form-control-static.form-control-static-text {{elem.text}}

      .col-sm-12
        .col-sm-12
          form.form-horizontal
            div(data-ng-repeat='elem in spc.content[1]').form-group.form-group-lg.main-panel
              label.col-sm-2.control-label {{elem.label}}
              .col-sm-10
                p.form-control-static.form-control-static-text {{elem.text}}

      .col-sm-12
        h2.text-center Фотогалерея
        ul.col-sm-10.col-sm-offset-1.list-inline.text-center#gallery-30593
          li(data-ng-repeat='elem in spc.gallery')
            a(href='{{elem.href}}',
            data-lightbox='{{elem.dataLightbox}}',
            data-title='{{elem.dataTitle}}')
              img(data-ng-src='{{elem.src}}').thumbnail.img-gallery

        a(href='{{spc.youtube}}', target="_blank", translate='SHORTTERM_PAGE_BUTTON_YOUTUBE').col-xs-12.btn.btn-info.btn-lg.btn-margin.center-block

        button(data-ng-click='spc.showBookObject()' translate='SHORTTERM_PAGE_BUTTON_BOOK_OBJECT').col-xs-12.btn.btn-danger.btn-lg.btn-margin.center-block
