//
  Exclusive
  =============

  Author:  iStudioDTD.com
  Updated: March 2017
  Notes:   Hand coded for Orange Holiday Villas

#exclusive
  .row#exclusiveCallout
    .cal-12
      .well
        .page-header.page-primary
          h1 {{'EXCLUSIVE_PAGE_HEADER_TITLE' | translate}}
            small(translate='EXCLUSIVE_PAGE_HEADER_SUBTITLE')
        .page-body#block-exclusive
          h1(translate='EXCLUSIVE_PAGE_BODY_H1').text-center
          h2(translate='EXCLUSIVE_PAGE_BODY_H2').text-center
          .alert.alert-info#exclusiveAlert
            h3(translate='EXCLUSIVE_PAGE_BODY_H3').text-center

          .row#block-exclusive-filter
            .col-sm-6.col-sm-offset-3#exclusiveFilterWrapper
              .panel.panel-info#exclusiveFilter
                .panel-heading
                  h3(translate='PANEL_HEADER')
                div(data-ng-controller='ExclusiveFiltersCtrl as e').panel-body
                  exclusive-filter(deal-list='e.dealList',
                  obj-list='e.objList',
                  city-list='e.cityList',
                  room-list='e.roomList')



          .row
            .col-sm-12
              .panel.panel-info
                .badge.badge-object
                  span.glyphicon.glyphicon-tag Хит продаж
                .panel-heading
                  h3 Объект № 30595

                .panel.panel-body
                  .col-sm-5
                    a(href="../../images/30593_700x500.jpg", data-lightbox="30593_300x200", data-title="Комментарий к фото")
                      img(src="../../images/30593_700x500.jpg").thumbnail.img-main
                    .col-lg-12.col-lg-offset-0.col-md-offset-0.col-sm-offset-0
                      button.btn.btn-success.btn-lg.btn-margin Стоимость
                      button.btn.btn-warning.btn-lg.btn-margin Календарь занятости

                  .col-sm-7
                    -
                      var exclusive_object_1 = [
                      { label: 'Адрес:',
                      text: 'Lorem ipsum dolor sit amet.'},
                      { label: 'Посуточная аренда:',
                      text: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit.' +
                      'A dolorem ducimus error eveniet ex ipsam itaque nemo omnis' +
                      'quas ullam?'},
                      { label: 'Кол. комнат:',
                      text: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit.' +
                      'Accusantium, aliquid, animi atque consequatur consequuntur' +
                      'delectus eos expedita fugit laborum minima odio perferendis' +
                      'provident quia rem repellat sed sunt, veniam voluptatem.'},
                      { label: 'Сан. узел:',
                      text: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit.' +
                      'Accusantium, aliquid, animi atque consequatur consequuntur'},
                      { label: 'Бассейн:',
                      text: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit.' +
                      'Accusantium, aliquid, animi atque consequatur consequuntur'}
                      ]
                    each elem in exclusive_object_1
                      .col-sm-12.form-group.clearfix
                        label.col-sm-3.control-label.text-right #{elem.label}
                        .col-sm-9.clearfix #{elem.text}

                  .col-sm-12
                    -
                      var exclusive_object_2 = [
                      { label: 'Дополнительно:',
                      text: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit.' +
                      'Accusantium, aliquid, animi atque consequatur consequuntur' +
                      'delectus eos expedita fugit laborum minima odio perferendis' +
                      'provident quia rem repellat sed sunt, veniam voluptatem.' +
                      'Lorem ipsum dolor sit amet, consectetur adipisicing elit.' +
                      'Accusantium, aliquid, animi atque consequatur consequuntur' +
                      'delectus eos expedita fugit laborum minima odio perferendis' +
                      'provident quia rem repellat sed sunt, veniam voluptatem.' +
                      'Lorem ipsum dolor sit amet, consectetur adipisicing elit.' +
                      'Accusantium, aliquid, animi atque consequatur consequuntur' +
                      'delectus eos expedita fugit laborum minima odio perferendis' +
                      'provident quia rem repellat sed sunt, veniam voluptatem.'}
                      ]
                    each elem in exclusive_object_2
                      .col-sm-12.form-group.clearfix
                        label.col-sm-2.control-label.text-right #{elem.label}
                        .col-sm-10 #{elem.text}

                  -
                    var photogallery = [
                    {href: '../../images/gallery_30593_1.jpg'},
                    {href: '../../images/gallery_30593_2.jpg'},
                    {href: '../../images/gallery_30593_3.jpg'},
                    {href: '../../images/gallery_30593_1.jpg'},
                    {href: '../../images/gallery_30593_2.jpg'},
                    {href: '../../images/gallery_30593_3.jpg'},
                    {href: '../../images/gallery_30593_1.jpg'},
                    {href: '../../images/gallery_30593_2.jpg'},
                    {href: '../../images/gallery_30593_3.jpg'},
                    {href: '../../images/gallery_30593_1.jpg'},
                    {href: '../../images/gallery_30593_2.jpg'},
                    {href: '../../images/gallery_30593_3.jpg'}
                    ]

                  .col-sm-12
                    h2.text-center Фотогалерея
                    ul.col-sm-10.col-sm-offset-1.list-inline.text-center#gallery-30593
                      each elem in photogallery
                        li
                          a(href="#{elem.href}", data-lightbox="roadtrip")
                            img(src="#{elem.href}").thumbnail.img-gallery