//
   Short term
   =============

   Author:  iStudioDTD.com
   Updated: March 2017
   Notes:   Hand coded for Orange Holiday Villas

#exclusive
  .row#exclusiveCallout
    .cal-12
      .well
        .page-header.page-primary
          h1 {{'EXCLUSIVE_PAGE_HEADER_TITLE' | translate}}
            small(translate='EXCLUSIVE_PAGE_HEADER_SUBTITLE')

        .page-body#block-exclusive

          .row#block-exclusive-filter
            .col-sm-6.col-sm-offset-3#exclusiveFilterWrapper
              .panel.panel-info#exclusiveFilter
                .panel-heading
                  h3(translate='PANEL_HEADER')
                div(data-ng-controller='ExclusiveFiltersCtrl as e').panel-body
                  exclusive-filter(obj-list='e.objList',
                  city-list='e.cityList',
                  room-list='e.roomList')

          div(data-ng-controller='ExclusiveCtrl')
            //div(data-ng-if='sc.showServerError')
              h1 showServerError

            div(data-ng-if='exclusive.showFoundNothing')
              nothing-found

            div(infinite-scroll='activateNextPage()',
            infinite-scroll-disabled='exclusive.scrollDisabled',
            infinite-scroll-distance='1',
            data-ng-hide='exclusive.showFoundNothing').row
              div(data-ng-repeat='panel in exclusive.panels')
                div(data-ng-switch='panel.deal')
                  panel-exclusive-short(data-ng-switch-when='short_term',
                  badge='panel.badge',
                  type='panel.type',
                  badge-text='panel.badgeText',
                  obj-number='panel.objNumber',
                  img='panel.img',
                  gallery='panel.gallery',
                  content='panel.content',
                  youtube='panel.youtube',
                  index='$index',
                  panel='panel')

                  panel-exclusive-long(data-ng-switch-when='long_term',
                  badge='panel.badge',
                  type='panel.type',
                  badge-text='panel.badgeText',
                  obj-number='panel.objNumber',
                  img='panel.img',
                  gallery='panel.gallery',
                  content='panel.content',
                  youtube='panel.youtube',
                  index='$index',
                  panel='panel')

                  h2(data-ng-switch-when='sales') Sales...

            div#spinner-container-exclusive
