h1 My Account
.form-container
  form(method="post")
    .form-group
      label(for="firstName") First name
      input(type="text",
      data-ng-model="vm.user.firstName",
      data-ng-required-err-type="{{'AV_REQ' | translate}}").form-control#firstName

    .form-group
      label(for="lastName") Last name
      input(type="text",
      data-ng-model="vm.user.lastName",
      data-ng-required-err-type="{{'AV_REQ' | translate}}").form-control#lastName

    .form-group
      label(for="username") Username
      input(type="text",
      data-ng-model="vm.user.username",
      data-ng-required-err-type="{{'AV_REQ' | translate}}").form-control#username

    .form-group
      label(for="password") Password
      input(type="password",
      data-ng-model="vm.user.password").form-control#password

    .form-group
      button(data-ng-click="vm.saveUser()").btn.btn-primary Save
      button(data-ng-click="vm.deleteUser()").btn.btn-danger Delete

