div(data-ng-controller="AccountController as ac").form-container
  form(novalidate='novalidate',
  data-ng-submit="ac.manageCommand()").form-horisontal
    h1 Профиль
    .form-group.clearfix
      label(for="firstName").col-sm-2.control-label.text-right Имя
      .col-sm-4
        input(type="text",
        required,
        data-ng-required-err-type="{{'AV_REQ' | translate}}",
        data-ng-pattern="/^[a-zA-Zа-яА-Яα-ωΑ-Ω\\s\\-\\.\\']+$/",
        data-ng-pattern-err-type="{{'FIELD_NAME_ERR' | translate}}",
        data-ng-model="ac.first_name").form-control.col-sm-6#firstName

    .form-group.clearfix
      label(for="lastName").col-sm-2.control-label.text-right Фамилия
      .col-sm-4
        input(type="text",
        data-ng-pattern="/^[a-zA-Zа-яА-Яα-ωΑ-Ω\\s\\-\\.\\']+$/",
        data-ng-pattern-err-type="{{'FIELD_NAME_ERR' | translate}}",
        data-ng-model="ac.last_name").form-control.col-sm-6#lastName

    .form-group.clearfix
      label(for="email").col-sm-2.control-label.text-right Email
      .col-sm-4
        input(type="text",
        required,
        data-ng-required-err-type="{{'AV_REQ' | translate}}",
        data-ng-pattern='/^([0-9a-zA-Z\\.]([\\.\\-\\+\\w])*@([0-9a-zA-Z][-\\w]*[0-9a-zA-Z]*\\.)+[a-zA-Z]{2,9})$/',
        data-ng-pattern-err-type="{{'FIELD_EMAIL_ERR' | translate}}",
        data-ng-model="ac.email").form-control.col-sm-6#email

    .form-group.clearfix
      label(for="username").col-sm-2.control-label.text-right Алиас пользователя
      .col-sm-4
        input(type="text",
        required,
        data-ng-required-err-type="{{'AV_REQ' | translate}}",
        data-ng-pattern="/^[0-9a-zA-Z]+$/",
        data-ng-pattern-err-type="{{'FIELD_NAME_ERR' | translate}}",
        data-ng-model="ac.username").form-control.col-sm-6#username

    .form-group.clearfix
      label(for="password").col-sm-2.control-label.text-right Пароль
      .col-sm-4
        input(type="password",
        required,
        data-ng-required-err-type="{{'AV_REQ' | translate}}",
        data-ng-model="ac.password").form-control.col-sm-6#password

    .form-group.clearfix
      .col-sm-6.col-sm-offset-2
        div(role="alert", data-ng-show="ac.wrongCreate").alert.alert-danger.col-sm-8
          strong Error while creating user! Please try again later or contact administrator.
        div(role="alert", data-ng-show="ac.successfulCreate").alert.alert-success.col-sm-8
          strong Новый пользователь был успешно создан:
          ul
            li Имя: {{ac.createdUser.first_name}}
            li Фамилия: {{ac.createdUser.last_name}}
            li Email: {{ac.createdUser.email}}
            li Алиас пользователя: {{ac.createdUser.username}}

        div(role="alert", data-ng-show="ac.wrongUpdate").alert.alert-danger.col-sm-8
          strong Error while updating user! Please try again later or contact administrator.
        div(role="alert", data-ng-show="ac.successfulUpdate").alert.alert-success.col-sm-8
          strong User was updated successfully!

    .form-group.clearfix
      .col-sm-6.col-sm-offset-2
        button(type='submit', data-ng-click='ac.updateButton()',
        translate='BTN_ADMIN_UPDATE').btn.btn-success.btn-lg.btn-margin
        button(type='submit', data-ng-show="ac.isAdmin",
        data-ng-click='ac.createButton()',
        translate='BTN_ADMIN_CREATE').btn.btn-info.btn-lg.btn-margin
        button(type="button", data-ng-click='ac.clear()',
        translate='BTN_ADMIN_CLEAR').btn.btn-warning.btn-lg.btn-margin
        button(type="button", data-ng-click='ac.logout()',
        translate='BTN_ADMIN_LOGOUT').btn.btn-danger.btn-lg.btn-margin

