form(novalidate='novalidate',
data-ng-submit='$ctrl.create()').form-horisontal

  fieldset

    .form-group.clearfix
      label(for='objectNumber', translate='LBL_OBJ_NUM').col-sm-2.control-label.text-right
      .col-sm-3
        input(type="text",
          data-ng-pattern='/^[A-Za-z0-9_]{1,15}$/',
          data-ng-minLength='5',
          data-ng-minLength-err-type='tooShort',
          data-ng-required-err-type="{{'AV_REQ' | translate}}",
          placeholder="{{'OBJ_NUM_PLACEHOLDER' | translate}}",
          data-ng-model='$ctrl.formData.objnumber'
        ).form-control#objectNumber


    .form-group.clearfix
      label(for='objectExclusiveLabel', translate='LBL_OBJ_EXCLUSIVE').col-sm-2.control-label.text-right
      .col-sm-4
        #objectExclusiveLabel
          label(for='objectExclusive')
            input(type='radio',
              data-ng-model='$ctrl.formData.exclusive',
              value="exclusive"
            )#objectExclusive
            | Да
          label(for='objectNotExclusive')
            input(type='radio',
              data-ng-model='$ctrl.formData.exclusive',
              value="not_exclusive"
            )#objectNotExclusive
            | Нет

    .form-group.clearfix
      label(for='objectShowLabel', translate='LBL_OBJ_SHOW').col-sm-2.control-label.text-right
      .col-sm-4
        #objectShowLabel
          label(for='objectShow')
            input(type='radio',
              data-ng-model='$ctrl.formData.show',
              value="show"
            )#objectShow
            | Да
          label(for='objectNotShow')
            input(type='radio',
              data-ng-model='$ctrl.formData.show',
              value="not_show"
            )#objectNotShow
            | Нет

    .form-group.clearfix
      label(for='objectHomeLabel', translate='LBL_OBJ_HOME').col-sm-2.control-label.text-right
      .col-sm-4
        #objectHomeLabel
          label(for='objectHome')
            input(type='radio',
              data-ng-model='$ctrl.formData.home',
              value="home"
            )#objectHome
            | Да
          label(for='objectNotHome')
            input(type='radio',
              data-ng-model='$ctrl.formData.home',
              value="not_home"
            )#objectNotHome
            | Нет

    .form-group.clearfix
      label(for='tagType', translate='LBL_TAG').col-sm-2.control-label.text-right
      .col-sm-4
        select(name='tagType',
          data-ng-options='option.val for option in $ctrl.tagList track by option.key',
          data-ng-model='$ctrl.formData.tag'
        ).form-control#tagType

    .form-group.clearfix
      label(for='objectType', translate='LBL_OBJ').col-sm-2.control-label.text-right
      .col-sm-4
        select(name='objectType',
          data-ng-options='option.val for option in $ctrl.objList track by option.key',
          data-ng-model='$ctrl.formData.obj',
          object-form-select-validation
        ).form-control#objectType

    .form-group.clearfix
      label(for='city', translate='LBL_CITY').col-sm-2.control-label.text-right
      .col-sm-4
        select(name='city',
          data-ng-options='option.val for option in $ctrl.cityList track by option.key',
          data-ng-model='$ctrl.formData.city',
          object-form-select-validation
        ).form-control#city

    .form-group.clearfix
      label(for='rooms', translate='LBL_ROOM').col-sm-2.control-label.text-right
      .col-sm-4
        select(name='rooms',
          data-ng-options='option.val for option in $ctrl.roomList track by option.key',
          data-ng-model='$ctrl.formData.room',
          object-form-select-validation
        ).form-control#rooms

    div(nv-file-drop="",
    uploader="$ctrl.uploader",
    ).form-group.clearfix
      .row
        .col-md-3
          h3 Select files
          input(type="file",
            nv-file-select="",
            uploader="$ctrl.uploader",
            multiple
          )

        .col-md-9.file-upload-block
          h2 Upload images
          h3 The queue
          p Queue length: {{$ctrl.uploader.queue.length}}

          table.table
            thead
              tr
                th(width="50%") Name
                th(data-ng-show="$ctrl.uploader.isHTML5") Size
                th(data-ng-show="$ctrl.uploader.isHTML5") Progress
                th Status
                th Actions
            tbody
              tr(data-ng-repeat="item in $ctrl.uploader.queue")
                td
                  strong {{ item.file.name }}
                  div(ng-show="$ctrl.uploader.isHTML5",
                    ng-thumb="{ file: item._file, height: 100 }")
                td(data-ng-show="$ctrl.uploader.isHTML5" nowrap) {{ item.file.size/1024/1024|number:2 }} MB
                td(data-ng-show="$ctrl.uploader.isHTML5")
                  .progress
                    div(role="progressbar",
                    data-ng-style="{ 'width': item.progress + '%' }").progress-bar
                td.text-center
                  span(data-ng-show="item.isSuccess")
                    i.glyphicon.glyphicon-ok
                  span(data-ng-show="item.isCancel")
                    i.glyphicon.glyphicon-ban-circle
                  span(data-ng-show="item.isError")
                    i.glyphicon.glyphicon-remove
                td(nowrap)
                  button(type="button",
                    data-ng-click="item.upload()",
                    data-ng-disabled="item.isReady || item.isUploading || item.isSuccess"
                  ).btn.btn-success.btn-xs
                    span.glyphicon.glyphicon-upload &nbsp;Upload
                  button(type="button",
                    data-ng-click="item.cancel()",
                    data-ng-disabled="!item.isUploading"
                  ).btn.btn-warning.btn-xs
                    span.glyphicon.glyphicon-ban-circle &nbsp;Cancel
                  button(type="button",
                    data-ng-click="item.remove()"
                  ).btn.btn-danger.btn-xs
                    span.glyphicon.glyphicon-trash &nbsp;Remove

          div
            div Queue progress:
              .progress.queue-progress
                div(role="progressbar",
                  data-ng-style="{ 'width': $ctrl.uploader.progress + '%' }"
                ).progress-bar

            button(type="button",
              data-ng-click="$ctrl.uploader.uploadAll()",
              data-ng-disabled="!$ctrl.uploader.getNotUploadedItems().length"
            ).btn.btn-success.btn-s
              span.glyphicon.glyphicon-upload &nbsp;Upload all
            button(type="button",
              data-ng-click="$ctrl.uploader.cancelAll()",
              data-ng-disabled="!$ctrl.uploader.isUploading"
            ).btn.btn-warning.btn-s
              span.glyphicon.glyphicon-ban-circle &nbsp;Cancel all
            button(type="button",
              data-ng-click="$ctrl.uploader.clearQueue()",
              data-ng-disabled="!$ctrl.uploader.queue.length"
            ).btn.btn-danger.btn-s
              span.glyphicon.glyphicon-trash &nbsp;Remove all


    .form-group.clearfix
      .col-lg-7.col-lg-offset-2.col-md-offset-1.col-sm-offset-1
        button(type='submit',
        translate='BTN_ADMIN_CREATE').btn.btn-success.btn-lg.btn-margin
        button(data-ng-click='$ctrl.clear()',
        translate='BTN_CLR').btn.btn-warning.btn-lg.btn-margin

    div
      pre {{$ctrl.formData.exclusive}}
