#sale
  .row#saleCallout
    .cal-12
      .well
        .page-header.page-primary
          h1 {{'SALE_PAGE_HEADER_TITLE' | translate}}

        div(data-ng-controller='PanelAdminTblCtrl as p').page-body#block-long

          div(bs-active-pane="p.activeTabMain", bs-tabs)

            //=================
            // New objects
            //=================

            div(data-title="Создание новых объектов",
            name="new_obj",
            bs-pane
            ).tabs-block

              div(data-ng-controller='SaleCreateAdminCtrl')
                sale-admin-create()


            //=================
            // Existing objects
            //=================

            div(data-title="Редактирование объектов",
              name="existing_obj",
              bs-pane
            ).tabs-block
              .row#block-sale-filter-admin
                .col-sm-6.col-sm-offset-3#saleFilterWrapper
                  .panel.panel-info#saleFilter
                    .panel-heading
                      h3(translate='PANEL_HEADER')
                    div(data-ng-controller='AdminFiltersCtrl as e').panel-body
                      admin-object-filter(obj-list='e.objList',
                      city-list='e.cityList',
                      room-list='e.roomList',
                      show-list='e.showList',
                      home-list='e.homeList'
                      )



  toaster-container(data-toaster-options="{'toaster-id': '111111'}")




