form(novalidate='novalidate',
data-ng-submit='$ctrl.create()').form-horisontal

  fieldset

    .form-group.clearfix
      label(for='objectNumber', translate='LBL_OBJ_NUM').col-sm-2.control-label.text-right
      .col-sm-3
        input(type="text",
          required,
          data-ng-pattern='/^[A-Za-z0-9_]{1,15}$/',
          data-ng-minLength='5',
          data-ng-minLength-err-type='tooShort',
          data-ng-required-err-type="{{'AV_REQ' | translate}}",
          placeholder="{{'OBJ_NUM_PLACEHOLDER' | translate}}",
          data-ng-model='$ctrl.formData.objnumber'
        ).form-control#objectNumber


    .form-group.clearfix
      label(for='objectExclusiveLabel', translate='LBL_OBJ_EXCLUSIVE').col-sm-2.control-label.text-right
      .col-sm-4
        #objectExclusiveLabel
          label(for='objectExclusive')
            input(type='radio',
              data-ng-model='$ctrl.formData.exclusive',
              value="exclusive"
            )#objectExclusive
            | Да
          label(for='objectNotExclusive')
            input(type='radio',
              data-ng-model='$ctrl.formData.exclusive',
              value="not_exclusive"
            )#objectNotExclusive
            | Нет

    .form-group.clearfix
      label(for='objectShowLabel', translate='LBL_OBJ_SHOW').col-sm-2.control-label.text-right
      .col-sm-4
        #objectShowLabel
          label(for='objectShow')
            input(type='radio',
              data-ng-model='$ctrl.formData.show',
              value="show"
            )#objectShow
            | Да
          label(for='objectNotShow')
            input(type='radio',
              data-ng-model='$ctrl.formData.show',
              value="not_show"
            )#objectNotShow
            | Нет

    .form-group.clearfix
      label(for='objectHomeLabel', translate='LBL_OBJ_HOME').col-sm-2.control-label.text-right
      .col-sm-4
        #objectHomeLabel
          label(for='objectHome')
            input(type='radio',
              data-ng-model='$ctrl.formData.home',
              value="home"
            )#objectHome
            | Да
          label(for='objectNotHome')
            input(type='radio',
              data-ng-model='$ctrl.formData.home',
              value="not_home"
            )#objectNotHome
            | Нет

    .form-group.clearfix
      label(for='tagType', translate='LBL_TAG').col-sm-2.control-label.text-right
      .col-sm-4
        select(name='tagType',
          data-ng-options='option.val for option in $ctrl.tagList track by option.key',
          data-ng-model='$ctrl.formData.tag'
        ).form-control#tagType

    .form-group.clearfix
      label(for='objectType', translate='LBL_OBJ').col-sm-2.control-label.text-right
      .col-sm-4
        select(name='objectType',
          data-ng-options='option.val for option in $ctrl.objList track by option.key',
          data-ng-model='$ctrl.formData.obj',
          object-form-select-validation
        ).form-control#objectType

    .form-group.clearfix
      label(for='city', translate='LBL_CITY').col-sm-2.control-label.text-right
      .col-sm-4
        select(name='city',
          data-ng-options='option.val for option in $ctrl.cityList track by option.key',
          data-ng-model='$ctrl.formData.city',
          object-form-select-validation
        ).form-control#city

    .form-group.clearfix
      label(for='rooms', translate='LBL_ROOM').col-sm-2.control-label.text-right
      .col-sm-4
        select(name='rooms',
          data-ng-options='option.val for option in $ctrl.roomList track by option.key',
          data-ng-model='$ctrl.formData.room',
          object-form-select-validation
        ).form-control#rooms

    .form-group.clearfix
      label(for='youtube', translate='LBL_YOUTUBE').col-sm-2.control-label.text-right
      .col-sm-5
        input(type="text",
        placeholder="{{'OBJ_YOUTUBE_PLACEHOLDER' | translate}}",
        data-ng-model='$ctrl.formData.youtube'
        ).form-control#youtube

    // Main img upload

    div(nv-file-drop="",
    uploader="$ctrl.uploaderMain",
    ).form-group.clearfix
      .row
        .col-md-3
          h4(translate="LBL_IMG_MAIN_LABEL_01")
          input(type="file",
          nv-file-select="",
          uploader="$ctrl.uploaderMain",
          data-ng-disabled="!$ctrl.formData.objnumber.length"
          )

        .col-md-9.file-upload-block
          h4(translate="LBL_IMG_MAIN_LABEL_02")

          table.table
            thead
              tr
                th(width="50%", translate="LBL_IMG_TBL_LABEL_NAME")
                th(data-ng-show="$ctrl.uploaderMain.isHTML5",
                  translate="LBL_IMG_TBL_LABEL_SIZE")
                th(data-ng-show="$ctrl.uploaderMain.isHTML5",
                  translate="LBL_IMG_TBL_LABEL_PROGRESS")
                th(translate="LBL_IMG_TBL_LABEL_STATUS")
                th(translate="LBL_IMG_TBL_LABEL_ACTION")
            tbody
              tr(data-ng-repeat="item in $ctrl.uploaderMain.queue")
                td
                  strong {{ item.file.name }}
                  div(ng-show="$ctrl.uploaderMain.isHTML5",
                  ng-thumb="{ file: item._file, height: 100 }")
                td(data-ng-show="$ctrl.uploaderMain.isHTML5" nowrap) {{ item.file.size/1024/1024|number:2 }} MB
                td(data-ng-show="$ctrl.uploaderMain.isHTML5")
                  .progress
                    div(role="progressbar",
                    data-ng-style="{ 'width': item.progress + '%' }").progress-bar
                td.text-center
                  span(data-ng-show="item.isSuccess")
                    i.glyphicon.glyphicon-ok
                  span(data-ng-show="item.isCancel")
                    i.glyphicon.glyphicon-ban-circle
                  span(data-ng-show="item.isError")
                    i.glyphicon.glyphicon-remove
                td(nowrap)
                  //button(type="button",
                    data-ng-click="item.upload()",
                    data-ng-disabled="item.isReady || item.isUploading || item.isSuccess"
                  //).btn.btn-success.btn-xs
                    span.glyphicon.glyphicon-upload &nbsp;Upload
                  //button(type="button",
                    data-ng-click="item.cancel()",
                    data-ng-disabled="!item.isUploading"
                  //).btn.btn-warning.btn-xs
                    span.glyphicon.glyphicon-ban-circle &nbsp;Cancel
                  button(type="button",
                  data-ng-click="item.remove()",
                  data-ng-disabled="!$ctrl.uploaderMain.getNotUploadedItems().length"
                  ).btn.btn-danger.btn-xs
                    span.glyphicon.glyphicon-trash
                    span.lbl-margin-left {{"LBL_IMG_MAIN_BTN_REMOVE" | translate}}

          div
            div {{"LBL_IMG_MAIN_LABEL_03" | translate}}
              .progress.queue-progress
                div(role="progressbar",
                data-ng-style="{ 'width': $ctrl.uploaderMain.progress + '%' }"
                ).progress-bar


    // Gallery img upload

    div(nv-file-drop="",
    uploader="$ctrl.uploader",
    ).form-group.clearfix
      .row
        .col-md-3
          h4(translate="LBL_IMG_GALLERY_LABEL_01")
          input(type="file",
            nv-file-select="",
            uploader="$ctrl.uploader",
            multiple,
            data-ng-disabled="!$ctrl.formData.objnumber.length"
          )

        .col-md-9.file-upload-block
          h4(translate="LBL_IMG_GALLERY_LABEL_02")
          p {{"LBL_IMG_GALLERY_LABEL_04" | translate}} {{$ctrl.uploader.queue.length}}

          table.table
            thead
              tr
                th(width="50%", translate="LBL_IMG_TBL_LABEL_NAME")
                th(data-ng-show="$ctrl.uploader.isHTML5",
                  translate="LBL_IMG_TBL_LABEL_SIZE")
                th(data-ng-show="$ctrl.uploader.isHTML5",
                  translate="LBL_IMG_TBL_LABEL_PROGRESS")
                th(translate="LBL_IMG_TBL_LABEL_STATUS")
                th(translate="LBL_IMG_TBL_LABEL_ACTION")
            tbody
              tr(data-ng-repeat="item in $ctrl.uploader.queue")
                td
                  strong {{ item.file.name }}
                  div(ng-show="$ctrl.uploader.isHTML5",
                    ng-thumb="{ file: item._file, height: 100 }")
                td(data-ng-show="$ctrl.uploader.isHTML5" nowrap) {{ item.file.size/1024/1024|number:2 }} MB
                td(data-ng-show="$ctrl.uploader.isHTML5")
                  .progress
                    div(role="progressbar",
                    data-ng-style="{ 'width': item.progress + '%' }").progress-bar
                td.text-center
                  span(data-ng-show="item.isSuccess")
                    i.glyphicon.glyphicon-ok
                  span(data-ng-show="item.isCancel")
                    i.glyphicon.glyphicon-ban-circle
                  span(data-ng-show="item.isError")
                    i.glyphicon.glyphicon-remove
                td(nowrap)
                  //button(type="button",
                    data-ng-click="item.upload()",
                    data-ng-disabled="item.isReady || item.isUploading || item.isSuccess"
                  //).btn.btn-success.btn-xs
                    span.glyphicon.glyphicon-upload &nbsp;Upload
                  //button(type="button",
                    data-ng-click="item.cancel()",
                    data-ng-disabled="!item.isUploading"
                  //).btn.btn-warning.btn-xs
                    span.glyphicon.glyphicon-ban-circle &nbsp;Cancel
                  button(type="button",
                    data-ng-click="item.remove()",
                    data-ng-disabled="!$ctrl.uploader.getNotUploadedItems().length"
                  ).btn.btn-danger.btn-xs
                    span.glyphicon.glyphicon-trash
                    span.lbl-margin-left {{"LBL_IMG_MAIN_BTN_REMOVE" | translate}}

          div
            div {{"LBL_IMG_MAIN_LABEL_03" | translate}}
              .progress.queue-progress
                div(role="progressbar",
                  data-ng-style="{ 'width': $ctrl.uploader.progress + '%' }"
                ).progress-bar

            button(type="button",
              data-ng-click="$ctrl.uploader.clearQueue()",
              data-ng-disabled="!$ctrl.uploader.queue.length"
            ).btn.btn-danger.btn-s
              span.glyphicon.glyphicon-trash
              span.lbl-margin-left {{"LBL_IMG_MAIN_BTN_REMOVE_ALL" | translate}}


    .row
      div(bs-active-pane="$ctrl.activeTab", bs-tabs).edit-lang-container

        div(data-ng-repeat="lang in $ctrl.langSet",
        data-title="{{lang.activeTabTitle}}",
        name="{{lang.activeTab}}",
        bs-pane
        )

          .form-group.clearfix
            label(for='address', translate='LBL_ADDRESS').col-sm-2.control-label.text-right.top-element
            .col-sm-9
              textarea(type="text",
              placeholder="{{'OBJ_ADDRESS_PLACEHOLDER' | translate}}",
              data-ng-model='$ctrl.formData.langContent[lang.lang].address'
              ).form-control#address

          .form-group.clearfix
            label(for='bathroom', translate='LBL_BATHROOM').col-sm-2.control-label.text-right
            .col-sm-9
              input(type="text",
              placeholder="{{'OBJ_BATHROOM_PLACEHOLDER' | translate}}",
              data-ng-model='$ctrl.formData.langContent[lang.lang].bathroom'
              ).form-control#bathroom

          .form-group.clearfix
            label(for='pool', translate='LBL_POOL').col-sm-2.control-label.text-right
            .col-sm-9
              input(type="text",
              placeholder="{{'OBJ_POOL_PLACEHOLDER' | translate}}",
              data-ng-model='$ctrl.formData.langContent[lang.lang].pool'
              ).form-control#pool

          .form-group.clearfix
            label(translate='LBL_PRICE').col-sm-2.control-label.text-right
            div(data-ng-repeat="p in $ctrl.formData.langContent[lang.lang].price").col-sm-9
              input(type="text",
              data-ng-model='p.periodStart'
              ).form-control
              input(type="text",
              data-ng-model='p.periodEnd'
              ).form-control
              input(type="text",
              data-ng-model='p.periodPrice'
              ).form-control


    .form-group.clearfix
      .col-lg-7.col-lg-offset-2.col-md-offset-1.col-sm-offset-1
        button(type='submit',
          translate='BTN_ADMIN_CREATE',
          data-ng-disabled="!($ctrl.uploader.getNotUploadedItems().length && $ctrl.uploaderMain.getNotUploadedItems().length)"
        ).btn.btn-success.btn-lg.btn-margin
        button(data-ng-click='$ctrl.clear()',
          translate='BTN_CLR'
        ).btn.btn-warning.btn-lg.btn-margin



